{% extends 'layouts/admin.html.twig' %}

{% block title %}Categorie-Detail{% endblock %}

{% block body %}
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {% include "layouts/partials/_topbar.html.twig" %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

<div style="display:flex;">

    <a class="btn btn-primary" href="{{ path('app_categorie_index') }}">Liste des categorie</a>

    <a class="btn btn-success mx-2" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>

    {{ include('admin/categorie/_delete_form.html.twig') }}

    </div>
        </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include "layouts/partials/_footer.html.twig" %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
{% endblock %}
