{% extends 'layouts/admin.html.twig' %}

{% block title %}Detail-porteur{% endblock %}
{% block body %}
    <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {% include "layouts/partials/_topbar.html.twig" %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
    <h1>Porteur de Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
<div style="display:flex;">
    <a class="btn btn-primary" href="{{ path('app_user_index_porteur') }}">Aller a la liste</a>

    <a class="btn btn-success mx-2" href="{{ path('app_user_edit_porteur', {'id': user.id}) }}">Modifier</a>

    {{ include('admin/porteur/_delete_form.html.twig') }}
     </div>
        </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include "layouts/partials/_footer.html.twig" %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
{% endblock %}
