{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">
    {{ form_row(form.titre) }}
    </div>
    <div class="col-md-4">
    {{ form_row(form.numero) }}
    </div>
    <div class="col-md-4">
    {{ form_row(form.surface) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    {{ form_row(form.ville) }}
    </div>
    <div class="col-md-6">
    {{ form_row(form.code_postal) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    {{ form_row(form.prix_mensuel) }}
    </div>
    <div class="col-md-6">
    {{ form_row(form.prix_final) }}
    </div>
</div>

    {{ form_row(form.categorie) }}
 
    {{ form_row(form.descriptif) }}
    <button class="btn btn-primary mb-3">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
