{% extends 'layouts/admin.html.twig' %}

{% block title %}Detail-Bien{% endblock %}

{% block body %}
<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {% include "layouts/partials/_topbar.html.twig" %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
    <h1>Bien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td>
                     <img 
                        width="100"
                       src="{{ (bien.imageName?vich_uploader_asset(bien)
                         : asset('build/images/placeholder.jpg'))}}"
                         alt="{{bien.titre}}">
                </td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bien.titre }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ bien.numero }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ bien.surface }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ bien.ville }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ bien.codePostal }}</td>
            </tr>
            <tr>
                <th>Prix Mensuel</th>
                <td>{{ bien.prixMensuel }}</td>
            </tr>
            <tr>
                <th>Prix Final</th>
                <td>{{ bien.prixFinal }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ bien.descriptif }}</td>
            </tr>
             <tr>
                 <td>{{ bien.createdAt ? bien.createdAt|date('d-m-Y') : '' }}</td>
            </tr>
             <tr>
                 <td>{{ bien.updatedAt ? bien.updatedAt|date('d-m-Y') : '' }}</td>
             </tr>
        </tbody>
    </table>

<div style="display:flex;">
    <a class="btn btn-primary mx-2" href="{{ path('app_bien_index') }}">Liste Biens</a>
    <a href="{{ path('app_bien_edit', {'id': bien.id}) }}" class="btn btn-success mx-2">Modifier</a>
    {{ include('admin/bien/_delete_form.html.twig') }}
</div>
        </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include "layouts/partials/_footer.html.twig" %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
{% endblock %}
