{% extends 'layouts/admin.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
 <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {% include "layouts/partials/_topbar.html.twig" %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
    <h1>Contacts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.message | u.truncate(20,'...',false) }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}" class="btn btn-warning">Voir</a>
                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun contact trouve</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_contact_new') }}">Nouvel contact</a>
          </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include "layouts/partials/_footer.html.twig" %}
            <!-- End of Footer -->

        </div>
{% endblock %}
